body {
    background-color: #CCCC33;
    color: #800080;
    font-family: 'Times New Roman', Garamond, serif;
    margin: 0;
    padding: 0;
}

h1, h2, th, caption {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.navbar ul {
    list-style-type: none;
    padding-left: 0;
}

.navbar li {
    display: inline;
    background-color: #E4E495;
    padding: 5px 15px;
    border-right: 10px solid #202077;
}

.navbar li a {
    text-decoration: none;
    color: #800080;
}

table {
    background-color: #E4E495;
    color: #202077;
    border: 2px solid #202077;
    margin: 40px;
    border-collapse: collapse;
}

th {
    background-color: #B9B931;
    padding: 10px 20px;
    border-bottom: 2px solid #202077;
}

td {
    padding: 10px 20px;
}

td.item {
    background-color: #B9B931;
}

tr{
    border-bottom: 2px solid #202077;
}

address {
    border-top: 2px solid #202077;
    margin-top: 50px;
    padding-top: 10px;
    font-style: normal;
}
